<?xml version="1.0" encoding="utf-8"?>
<widget xmlns:cdv="http://cordova.apache.org/ns/1.0" xmlns:vs="http://schemas.microsoft.com/appx/2014/htmlapps" id="io.cordova.KaiFUApp" version="0.1.0.0" xmlns="http://www.w3.org/ns/widgets">
  <name>KaiFU-App</name>
  <description>Die Kaifu-App ist hier! Hier kannst du deinen Stundenplan checken, Essen bestellen und vieles mehr.</description>
  <author href="http://cordova.io" email="dev@cordova.apache.org">Kay Gonschior</author>
  <content src="index.html" />
  <access origin="tel:*" launch-external="yes" />
  <access origin="geo:*" launch-external="yes" />
  <access origin="mailto:*" launch-external="yes" />
  <access origin="sms:*" launch-external="yes" />
  <access origin="market:*" launch-external="yes" />
  <access origin="*" />
  <access origin="http://*" />
  <access origin="https://*" />
  <preference name="SplashScreen" value="screen" />
  <preference name="windows-target-version" value="8.0" />
  <preference name="windows-phone-target-version" value="8.1" />
  <preference name="Fullscreen" value="false" />
  <vs:plugin name="org.apache.cordova.inappbrowser" version="0.5.2" />
  <vs:plugin name="de.appplant.cordova.plugin.email-composer" version="0.8.2dev" />
  <vs:platformSpecificValues />
</widget>